* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.d-fex {
  display: flex;
}

.d-block {
  display: block;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

header ul li {
  list-style: none;
  float: left;
}

.pa-2 {
  padding: 8px;
}

.ma-2 {
  margin: 8px;
}

.max-width {
  max-width: 1200px;
  margin: 0 auto;
}

.primary {
  background-color: #328c18;
  color: #fff;
}
